* {
  transition: all 0.2s ease-in-out;
}

body {
  background-image: linear-gradient(45deg, #ffecd2, #fcb69f);
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.card {
  background: #fff;
  border-radius: 4px;
  height: 85vh;
  width: 80vw;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  overflow: hidden;
}

@media only screen and (min-width: 1000px) {
  .card {
    flex-direction: row-reverse;
  }
  .card img.birthday {
    width: 70%;
    max-width: 45vw;
    max-height: unset;
  }
}

@media only screen and (max-height: 640px) {
  .card {
    flex-direction: row-reverse;
  }
  .card img.birthday {
    width: 100%;
    max-width: 50vw;
    max-height: unset;
  }
}

img.birthday {
  max-height: 40vh;
}

.text {
  padding: 1em;
}

.muted {
  opacity: 0.8;
}

.space {
  height: 100px;
}

button {
  padding: 2px;
   outline: 0;
   font-size: 17px;
   color: rgb(255, 255, 255);
   background: -webkit-gradient(
     linear,
     left top,
     right top,
     from(#fdde5c),
     color-stop(#f8ab5e),
     color-stop(#f56a62),
     color-stop(#a176c8),
     color-stop(#759beb),
     color-stop(#65beb3),
     to(#70db96)
   );
   background: linear-gradient(
     to right,
     #fdde5c,
     #f8ab5e,
     #f56a62,
     #a176c8,
     #759beb,
     #65beb3,
     #70db96
   );
   border-radius: 30px;
   border: 0;
   box-shadow: none;
   cursor: pointer;
}

.btn > span {
  display: block;
  padding: 10px 20px;
  font-size: 17px;
  background: #0e0e10;
  border-radius: 30px;
}